# **Data Types and Structures Questions and Answers**

**1.   What are data structures, and why are they important?**

*   Data structures are the way of organizing and storing the data so that it can be accessed and modified efficiently. eg, Tuple, String, List, Dictionary, array etc.
*   They are important because they are crucial for efficient data management and algorithm implementation, impacting the performance and scalability of software applications.

**2. Explain the difference between mutable and immutable data types with examples?**

* Mutable data types are the type of data type which can be changed after its creation. eg, lists, dictionary, etc.
* eg: list=[1,2,3] list[0]=4 #here now the original list[1,2,3] after list[0]=4 has become list[4,2,3]
* Immutable data types are the type of data type which cannot be changed after its creation. eg, Tuple, String
* eg, my_tuple = (1, 2, 3)
* my_tuple[0] = 4 # This will raise a TypeError


**3.   What are the main differences between lists and tuples in Python?**
* **Main Differences Between Lists and Tuples in Python:**

  *   Lists are mutable, tuples are immutable.
  *   Tuples are generally faster than lists due to their immutability.
  *   Tuples use less memory compared to lists

**4**.   **Describe how dictionaries store data?**

* Dictionaries store data in key-value pairs. Each key is hashed to a unique index in an array where the corresponding value is stored.
* eg, dict = {'name': 'ankit', 'age': 26}
    * here name is key while ankit is value of key.
    
**5**. **Why might you use a set instead of a list in Python?**

* Sets autimatically removes duplicate values while List don't do that.
* Also sets provides faster membership tests compared to lists.

**6**. **What is a string in Python, and how is it different from a list?**

* String is the sequence of characters which is immutable in nature and it contains only string data types and no other data types.
* While in other hand Lists are collection of items and is mutable data structure which can contains multiple data types.

**7**.  **How do tuples ensure data integrity in Python?**

* Since tuples are immutable in nature thats why, Once created, the elements of a tuple cannot be changed, ensuring that the data remains constant.

**8**. **What is a hash table, and how does it relate to dictionaries in Python?**

* Hash Table: A data structure that maps keys to values using a hash function to compute an index into an array of buckets or slots.
* Relation to Dictionaries: Python dictionaries are implemented using hash tables.

**9**. **Can lists contain different data types in Python?**

* Yes: Lists can contain elements of different data types, such as integers, strings, and even other lists.
* eg, mylist=[1,'Sonu',3.5]

**10**. **Explain why strings are immutable in Python?**

* Immutability helps with performance optimization, memory efficiency, and thread safety. It also allows strings to be used as keys in dictionaries.

**11**. **What advantages do dictionaries offer over lists for certain tasks?**

* Key-Value Mapping: Efficient for lookups, insertions, and deletions based on keys.
* Example: Storing user information where quick access to user details by username is needed.

**12**. **Describe a scenario where using a tuple would be preferable over a list.**
* Storing coordinates of a point (x, y) where the values should not change.

**13**. **How do sets handle duplicate values in Python?**

* Python set data structures inherently do not allow duplicate values. When we attempt to add duplicate values to a set, or when we create a set from an iterable that contains duplicates, the set will automatically discard the duplicates, storing only one instance of each unique element.

**14**. **How does the “in” keyword work differently for lists and dictionaries?**
* In List "in" Checks for the presence of a value as an element.
* In Dictionary "in" checks for the presence of a key.

**15** . **Can you modify the elements of a tuple? Explain why or why not?**
* Since Tuples data structure is immutable, meaning we cannot modify the elements of tuples once its created.

**16** . **What is a nested dictionary, and give an example of its use case?**

* A nested dictionary is the dictionary within another dictionary.
* nested_dict = {'user1': {'name': 'sumit', 'age': 25}, 'user2': {'name': 'ajay', 'age': 22}}

**17** . **Describe the time complexity of accessing elements in a dictionary.**
* The time complexity of accessing elements in a Python dictionary (ie., looking up a value using its key) is, on average, O(1) (constant time).

**18**. **In what situations are lists preferred over dictionaries?**
* When data naturally fits a sequence, where order and positional access are important, and duplicates are acceptable, a list is the preffered choice.
Why are dictionaries considered unordered, and how does that affect data retrieval?

**19**. **Why are dictionaries considered unordered, and how does that affect data retrieval?**
* Dictionaries are designed for fast, direct access to values when we have the unique key. Their "unordered" nature means we trade index-based access for extremely efficient key-based retrieval, making them ideal for mapping and lookup tasks.
* We cannot retrieve items using integer indices like my_dict[0]. We must know the exact key to retrieve its associated value.
* Data retrieval is inherently driven by the key. If we don't know the key, we have to iterate through the dictionary's keys or values to find what we're looking for, which is less efficient than a direct key lookup.

**20** . **Explain the difference between a list and a dictionary in terms of data retrieval.**

* Lists are for ordered collections where you want to retrieve "the Nth item," like List[1]. - while dictionaries are for unordered collections where you want to retrieve "the item named X. eg, my_dict = {'name': 'Sonu', 'age': 26, 'city': 'Nashik'} person_name = my_dict['name'] person_age = my_age['age']

# **Data Types and Structures Questions Practical Questions**

In [ ]:
#1.Write a code to create a string with your name and print it.
name = "Sonu Pandit"
print(name)

Sonu Pandit

In [ ]:
#2.Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [ ]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [ ]:
#17 . Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19 .  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#20 . Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
#21 . Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
#22 . Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Create a list
my_list = [10, 20, 30]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'London'}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 25, 'city': 'London'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [8, 22, 26, 30, 67]

In [ ]:
#28.  Write a code to create a list with strings and print the element at the third index.

# Create a list with strings
words = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index (4th item)
print("Element at index 3:", words[3])

Element at index 3: date

In [ ]:
#29.  Write a code to combine two dictionaries into one and print the result.

# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30. Write a code to convert a list of strings into a set.
# List of strings
string_list = ['apple', 'banana', 'cherry', 'apple']

# Convert list to set
string_set = set(string_list)

# Print the set
print("Set:", string_set)

Set: {'banana', 'cherry', 'apple'}